@model RegisterViewModel
@{
    
}

<form class="sign-in-form" asp-controller="Auth" asp-action="Register" method="post">
    <div>
        <label>Pseudo</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Mot de passe</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>Confirmer mot de passe</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="S'inscrire" />
    </div>

</form>
