@model IndexViewModel

@{
    ViewBag.Title = "DotNet Blog Website";
    ViewBag.Description = "The Blogoss";
    ViewBag.Keywords = "blog travel programming game";
    var base_path = Context.Request.PathBase;
}

@*<h2> HOME PAGE </h2>
<img src="~/content/static/123853.jpg" width="500" />*@
    <div class="main-img">
        <span class="title overlay center">
            <p>Blog de la hess</p
        </span>
    </div>
<div class="container">

    <partial name="_pages" model="Model" />

    @foreach (var post in Model.Posts)
    {
        var image_path = $"{base_path}/Image/{post.Image}";

        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" width="500" />
            <span class="title overlay center">
                @post.Title
            </span>
        </a>
    }

    <partial name="_pages" model="Model" />


</div>
