@model IEnumerable<Post>
@{

}
    <div class="row">
        <div class="col s3 m7">
            <h2> Gestion des articles </h2>


            <a class="waves-effect waves-light btn-large red" asp-controller="Panel" asp-action="Edit">
                Add new Post
                <i class="material-icons right">add</i>
            </a>
        </div>
    </div>
    <div>
        @foreach (var post in Model)
        {
            <div class="row">
                <div class="col s3 m7">
                    <div class="card" style="width:20vw">
                        <div class="card-image">
                            @if (!String.IsNullOrEmpty(post.Image))
                            {
                                var image_path = $"/Image/{post.Image}";
                                <img src="@image_path" />

                            }
                        </div>
                        <div class="card-content">
                            <h5>@post.Title</h5>
                        </div>
                        -
                        <div class="card-action">
                            <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                                Edit
                            </a>
                            -
                            <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                                Remove
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
