@model IEnumerable<Post>
@{

}
    <div class="row">
        <div class="col s12">
            <h2> Gestion des articles </h2>


            <a class="waves-effect waves-light btn-large red" asp-controller="Panel" asp-action="Edit">
                Add new Post
                <i class="material-icons right">add</i>
            </a>
        </div>
    </div>
    <div>
        <div class="row">
            @foreach (var post in Model)
            {

                

                    <div class="col s12 m6 l3">

                        <div class="card" style="width:20vw;">
                            <div class="card-image">
                                @if (!String.IsNullOrEmpty(post.Image))
                                {
                                    var image_path = $"/Image/{post.Image}";
                                    <img style="width:20vw;height:14vw;" src="@image_path" />
                                    <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id" class="btn-floating  btn-large halfway-fab waves-effect waves-light red">
                                        <i class="material-icons" >
                                            edit
                                        </i>
                                    </a>
                                }
                            </div>
                            <div class="card-content">

                                <h5>@post.Title</h5>
                            </div>
                            <div class="card-action">
                                

                                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                                    <i class="material-icons left">delete</i>Remove
                                </a>
                            </div>
                        </div>
                    </div>

                
               
            }
        </div>
        </div>
